
:root{
--CT: #94898b; /* Couleur des Textes*/
--CFL: #9297DD; /*Couleur de Fond des Liens*/
--CHF: #E6E3E4; /* Couleur du Header et Footer*/
--MG5:5px;
--MG10: 10px;
--PD5: 5px;
--PD10: 10px;
}

body, html{
  margin: 0;
  height: 100%;
  color: var(--CT);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
 
}

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--CHF);
  height: 15%;
  position: sticky;
  top: 0;
}

header nav ul, .social ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
header nav ul li, .social ul li{
  padding: var(--PD10);
  margin: var(--MG5);
}
header nav ul li a, .social ul li a {
  text-decoration: none;
  font-weight: bold;
 
}
.logo{
  display: inline-block;
  padding: var(--PD10);
  height: 120px;
  box-shadow: 5px 5px 5px blue;
  border-radius: 15px;
}

.logo .image1 img{
  height: 50%;
  width: 50%;
  border-radius: 10px;
}
.logo .slogan{
  margin-top: -20px;
}

.btn-l{
background-color: var(--CFL);
margin: var(--MG5);
padding: var(--PD10);
border-radius: 10px;
color: aliceblue;


}


.btn-l{
  background-color: var(--CFL) ;
  border-radius: 15px;
 
  
}

.conteneur{
  background-image: url(./assets/images/cercle.jpg);
  background-size: contain;
  background-position:center;
  background-repeat: no-repeat;
}

section{
  background-color: #fff;
  padding: var(--PD10);
  box-shadow: 0px 0px 10px 10px lightblue;
  height: 500px;
}
.sections{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  
}

img{
  padding-right: 50px;
}
h2{
  text-decoration: underline 5px solid var(--CT);
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--CHF);
  height: 15%;
}